[submodule "nvim"]
	path = nvim
	url = git@github.com:tanrichi/nvim.git
[submodule "wezterm"]
	path = wezterm
	url = git@github.com:tanrichi/wezterm.git
[submodule "wlogout"]
	path = wlogout
	url = git@github.com:tanrichi/wlogout.git
[submodule "waybar"]
	path = waybar
	url = git@github.com:tanrichi/waybar.git
